.admin-navbar {
  height: 64px;

  background: #fff;

  border-bottom: 1px solid #e5e5e5;

  position: sticky;

  top: 0;

  z-index: 100;
}

/* INNER */

.admin-navbar-inner {
  height: 100%;

  display: flex;

  align-items: center;

  justify-content: space-between;

  padding: 0 20px;
}

/* LOGO */

.admin-nav-logo {
  display: flex;

  align-items: center;

  gap: 6px;

  font-size: 18px;

  font-weight: 700;

  color: #000;
}

.admin-nav-logo span {
  font-size: 12px;

  border: 1px solid #000;

  padding: 2px 6px;

  margin-left: 4px;
}

/* RIGHT */

.admin-nav-right {
  display: flex;

  align-items: center;

  gap: 15px;
}

/* USER */

.admin-user {
  display: flex;

  align-items: center;

  gap: 6px;
}

.admin-user-icon {
  font-size: 18px;

  color: #000;
}

.admin-name {
  font-size: 14px;

  font-weight: 600;

  color: #333;
}

/* LOGOUT */

.admin-logout-btn {
  display: flex;

  align-items: center;

  gap: 5px;

  background: #000;

  color: #fff;

  border: 1px solid #000;

  padding: 6px 10px;

  cursor: pointer;

  font-size: 13px;
}

.admin-logout-btn:hover {
  background: #333;
}
